env/envvars
env/extravars
env/extravars.*
!env/env/extravars.example
project/keys
!project/keys/README.md
project/.ansible
out/**
!out/.gitkeep
artifacts/**
!artifacts/.gitkeep
inventory/**
!inventory/hostsdocs.old
gh-pages
.cache
