#!/bin/bash
# {{cloud_provider}} VM {{instance_name}} 
# Public IP: {{public_ip}}
set - e

_CURR_DIR="$( cd "$(dirname "$0")" ; pwd -P )"

docker run  -u `id -u`  \
-v ${_CURR_DIR}/inventory:/tmp/inventory:Z \
-v ${_CURR_DIR}/openshift_users.yaml:/tmp/openshift_users.yaml:Z \
-v ${_CURR_DIR}/add_openshift_users.yaml:/tmp/add_openshift_users.yaml:Z \
-v {{lookup('env','PROJECT_DIR')}}/{{private_key_file}}:/opt/app-root/src/.ssh/id_rsa:Z \
-e INVENTORY_DIR=/tmp/inventory \
-e OPTS="--become -v" \
-e PLAYBOOK_FILE=/tmp/add_openshift_users.yaml \
{% if is_rhel -%}
registry.access.redhat.com/openshift3/ose-ansible:{{v_ocp_installer_image}}
{% else -%}
docker.io/openshift/origin-ansible:{{v_origin_installer_image}}
{% endif %}