ansible_host: {{cloud_host}}
ansible_user: {{cloud_user}}

{% if is_rhel -%}
deployment_type: openshift-enterprise
networkPluginName: redhat/ovs-networkpolicy
{% else -%}
deployment_type: origin
{% endif %}

{% if cloud_provider == 'gcp' %}
openshift_cloudprovider_kind: gce
openshift_gcp_project: {{gcp.project_id}}
openshift_gcp_prefix: {{hybridizer_cluster_id}}
{% elif cloud_provider == 'aws'  %}
openshift_cloudprovider_kind: aws
openshift_cloudprovider_aws_access_key: "{{ aws.access_key }}"
openshift_cloudprovider_aws_secret_key: "{{ aws.secret_key }}"
openshift_clusterid: {{hybridizer_cluster_id}}
{% elif cloud_provider == 'azr'  -%}
openshift_cloudprovider_kind: azure
openshift_cloudprovider_azure_client_id: "{{azr.client_id}}"
openshift_cloudprovider_azure_client_secret: "{{azr.secret}}"
openshift_cloudprovider_azure_tenant_id: "{{azr.tenant}}"
openshift_cloudprovider_azure_subscription_id: "{{azr.subscription_id}}"
openshift_cloudprovider_azure_resource_group: "{{azr.resource_group}}"
openshift_cloudprovider_azure_location: "{{azr.location}}"
openshift_cloudprovider_azure_cloud: "{{azr.cloud}}"
openshift_cloudprovider_azure_vnet_name: "{{azr.vm_net_name}}"
openshift_cloudprovider_azure_security_group_name: "{{azr.security_group}}"
openshift_cloudprovider_azure_availability_set_name: "all-in-one-openshift"
{% endif %}

# the default domain suffixes to the app
openshift_master_default_subdomain: "{{cloud_host}}.nip.io"
# accessing the master API from outside world
openshift_public_hostname: "{{cloud_host}}"