tenantId: {{azr.tenant}}
subscriptionId: {{azr.subscription_id}} 
aadClientId: {{azr.client_id}} 
aadClientSecret: {{azr.secret}} 
aadTenantId: {{azr.tenant}}
resourceGroup: {{azr.resource_group}}
cloud: {{azr.cloud}} 
location: {{azr.location}} 
vnetName: {{azr.vm_net_name}}
securityGroupName: {{azr.security_group}}
primaryAvailabilitySetName: all-in-one-openshift