#!/bin/bash
# {{cloud_provider}} VM {{instance_name}} 
# Public IP: {{public_ip}}
# Private Key to use : {{private_key_file}}
# Sudo user : {{cloud_user}}
set - e
ssh -i {{private_key_file}} {{cloud_user}}@{{public_ip}}